
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}


#root {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 2rem;
  min-height: 100vh;
  display: flex;
  flex-direction: column;


  @media (max-width: 768px) {
    padding: 0 1.5rem;
  }

  @media (max-width: 425px) {
    padding: 0 1rem;
  }
}


h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}


p {
  margin: 0;
}
